.board {
  max-width: 640px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(4, 75px);
}

@media screen and (min-width: 576px) {
  .board {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
  }
}

@media screen and (min-width: 768px) {
  .board {
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(3, 120px);
  }
}