.flip-container {
  perspective: 1000px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border-radius: 0.25rem;
}

.flip-container.is-flipped .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  height: 100%;
  display: flex;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.back {
  z-index: 2;
}

.front {
  transform: rotateY(180deg);
}